/* profile.css */
.main {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.profile {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(106, 13, 173, 0.2);
  padding: 20px;
  width: 320px;
  text-align: center;
}

.profile img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile h2 {
  font-size: 26px;
  color: #384aa5;
  margin-bottom: 10px;
}

.profile p {
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}
